{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": ["error", "double"],
    "object-curly-spacing": ["error", "always"],
    "linebreak-style": ["error", "windows"],
    "require-jsdoc": "off",
    "max-len": ["error", 120],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ]
}
