$header-height: 40px;
$toolbar-height: 40px;
$formula-height: 30px;
$table-row-height: 28px;
$dashboard-header-height: 64px;

$left-side-width: 50px;
$cell-width: 100px;

$border-color: #c1c1c1;
$table-name-color: #898484;
