@import "variables";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: $header-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &-input {
    padding: 2px 7px;
    margin-left: 8px;
    border: 1px solid transparent;
    border-radius: 4px;

    color: black;
    font-size: 20px;
    line-height: 24px;

    &:hover {
      border: 1px solid $border-color;
    }
    &:focus {
      border: 2px solid #356cc4;
    }
  }
  &-buttons {
    .button {
      @include button(red);
    }
  }
}
